* {
    background-color: rgb(56, 56, 56);
    color: white;
}

.scaleable-box {
    width: 75vw;
    height: 75vh;
    position: relative;
    border: 2px solid purple;
}

.absolute {
    background-color: green;
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 10px;
    left: calc(50% - 50px);
}